* {
  font-family: 'Roboto', sans-serif;
  color:aqua;
  
}

/* .container {
    align-items: center;
    justify-content: center;
  } */

  
  
  img {
    max-width: 35%;
    max-height: 25%;
    float: right;
  }
  
  text {
    font-size: 15px;
    padding-left: 20px;
    padding-top: 0;
    
  }

  .ul {
    align-items: center;
    text-align: center;
  }
    
   body {
  background-color: #039BE5;
}     
    
 .footer{ 
       position: fixed;     
       text-align: center;    
       bottom: 0px; 
       width: 100%;
   }  
    
   .form {
		margin: 0 auto;
		width: 210px;
	}

	.form label{
		display: inline-block;
		text-align: center;
		/* float: left; */
	}

	.form input{
		display: inline-block;
		text-align: center;
     /* float: left; */
	}

.title-box {
  background-color: #BA68C8;
  padding: 30px;
  border: 20px solid #C51162;
  margin: 30px;
  font-size: 30px;
  text-align: center;
   }

  .title {
  text-align: center;
  margin-bottom: 5rem;
 
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer"
  ;

}

.main {
  grid-area: main;
}

.header {
  background: rgb(37, 198, 247);
  height: 100px;
}

.featured-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
 
.article-cards {
  min-height: calc(100vh - 300px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

}

.card {
  min-height: 35rem;
  max-width: 23rem;
  
}
 
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
}
 
#facebooksymbol1, #igsymbol, #twittersymbol {
  height: auto;
  display: flex;
  
}
